export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work

PATH=${PROJECT_DIR}/bin:${PATH}

export PKR_VAR_output_directory=${WORK_DIR}/outsystem-image
export PKR_VAR_script_directory=${PROJECT_DIR}/scripts

if [[ -f ${SECRETS_DIR}/govc.env ]]; then
    . ${SECRETS_DIR}/govc.env
fi
